<nav id="sidebar">
    <div (click)="selecionarMenu('inicio')" [class.selecionado]="menuSelecionado === 'inicio'">
        <span id="inicio"></span>
        <p>Início</p>
    </div>

    <div (click)="selecionarMenu('buscar')" [class.selecionado]="menuSelecionado === 'buscar'">
        <span id="buscar"></span>
        <p>Buscar</p>
    </div>

    <div (click)="selecionarMenu('playlists')" [class.selecionado]="menuSelecionado === 'playlists'">
        <span id="playlists"></span>
        <p>Playlists</p>
    </div>
</nav>

<nav id="barra-embaixo">
    <div (click)="selecionarMenu('inicio')" [class.selecionado]="menuSelecionado === 'inicio'">
        <span id="inicio"></span>
        <p>Início</p>
    </div>

    <div (click)="selecionarMenu('buscar')" [class.selecionado]="menuSelecionado === 'buscar'">
        <span id="buscar"></span>
        <p>Buscar</p>
    </div>

    <div (click)="selecionarMenu('playlists')" [class.selecionado]="menuSelecionado === 'playlists'">
        <span id="playlists"></span>
        <p>Playlists</p>
    </div>
</nav>

<app-player-card></app-player-card>

<router-outlet></router-outlet>