<header id="menu-hamburguer">
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </span>
</header>

<nav id="sidebar">
    <div (click)="selecionarMenu('inicio')" [class.selecionado]="menuSelecionado === 'inicio'">
        <span id="inicio"></span>
        <p>Início</p>
    </div>

    <div (click)="selecionarMenu('buscar')" [class.selecionado]="menuSelecionado === 'buscar'">
        <span id="buscar"></span>
        <p>Buscar</p>
    </div>

    <div (click)="selecionarMenu('playlists')" [class.selecionado]="menuSelecionado === 'playlists'">
        <span id="playlists"></span>
        <p>Playlists</p>
    </div>
</nav>

<app-player-card></app-player-card>

<router-outlet></router-outlet>