#section_buscar {
    display: flex;
    justify-content: flex-end;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        width: 87%;

        input {
            width: 400px;
            height: 40px;
            font-size: 20px;
            font-weight: 500;
            border-radius: 50px;
            border: none;
            outline: none;
            text-align: center;
        }

        input::placeholder {
            color: black;
        }

        #search {
            cursor: pointer;
            margin-left: 10px;
            width: 30px;
            height: 30px;
            background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 166, 0)' class='bi bi-search' viewBox='0 0 16 16'> <path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
        }
    }
}

@media screen and (max-width: 1250px) {

    #section_buscar div {
        input {
            width: 300px;
            height: 35px;
            font-size: 15px;
        }

        #search {
            width: 25px;
            height: 25px;
        }
    }
}

@media screen and (max-width: 1100px) {

    #section_buscar div input {
        width: 250px;
        height: 30px;
    }
}

@media screen and (max-width: 900px) {

    #section_buscar div {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    #section_buscar div {
        input {
            width: 200px;
            height: 25px;
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 400px) {
    #section_buscar div {
        input {
            width: 150px;
            height: 20px;
            font-size: 10px;
        }

        #search {
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 320px) {

    #section_buscar div {
        input {
            width: 150px;
            height: 20px;
            font-size: 10px;
            margin-left: 25px;
        }

        #search {
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }
}