#player {
    background-color: rgb(33, 33, 33);
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: none;

    div {
        width: 100vw;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #div_1 {
            display: flex;
            align-items: center;
            width: 500px;
            margin-left: 50px;

            #div_album {
                width: 60px;
                display: flex;
                align-items: center;

                #imagem_album {
                    width: 60px;
                }
            }

            #div_nomes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;

                #nome_musica {
                    color: white;
                    font-size: 15px;
                    font-weight: 550;
                    word-wrap: break-word;
                }

                #artista {
                    color: white;
                    font-size: 12px;
                    margin-top: 3px;
                    word-wrap: break-word;
                }
            }
        }

        #div_audio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 640px;

            audio {
                width: 600px;
                height: 30px;
            }

            #favorito_vazio {
                cursor: pointer;
                width: 25px;
                height: 25px;
                color: rgb(255, 166, 0);
            }

            #favorito_preenchido {
                cursor: pointer;
                width: 25px;
                height: 25px;
                color: rgb(255, 166, 0);
                display: none;
            }
        }

        #div_playlist {
            width: 440px;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 60px;

            svg {
                width: 40px;
                height: 40px;
                color: white;
                cursor: pointer;
            }

            p {
                font-size: 20px;
                margin-left: 7px;
                color: white;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:1700px) {
    #player div {
        #div_1 {
            width: 400px;
        }

        #div_playlist {
            width: 340px;
        }
    }
}

@media screen and (max-width:1500px) {
    #player div {
        #div_1 {
            width: 300px;
        }

        #div_playlist {
            width: 240px;
        }
    }
}

@media screen and (max-width:1300px) {
    #player div #div_audio {
        width: 440px;

        audio {
            width: 400px;
        }
    }
}

@media screen and (max-width:1100px) {
    #player div {
        #div_1 {
            width: 250px;
            margin-left: 25px;

            #div_nomes {
                #nome_musica {
                    font-size: 13px;
                }

                #artista {
                    font-size: 10px;
                }
            }
        }

        #div_playlist {
            width: 250px;
            margin-right: 25px;

            svg {
                width: 30px;
                height: 30px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    #player div #div_audio {
        width: 340px;

        audio {
            width: 300px;
        }
    }
}

@media screen and (max-width:900px) {

    #player {
        height: 100px;
        z-index: 0;
        align-items: flex-start;

        div {
            height: 50px;

            #div_1 {
                width: 200px;
                margin-left: 10px;

                #div_album {
                    width: 40px;

                    #imagem_album {
                        width: 40px;
                    }
                }

                #div_nomes {
                    margin-left: 5px;

                    #nome_musica {
                        font-size: 12px;
                    }

                    #artista {
                        font-size: 10px;
                    }
                }
            }

            #div_audio {
                width: 250px;

                audio {
                    width: 220px;
                    height: 25px;
                }

                #favorito_vazio {
                    width: 20px;
                    height: 20px;
                }

                #favorito_preenchido {
                    width: 20px;
                    height: 20px;
                }
            }

            #div_playlist {
                width: 200px;
                margin-right: 20px;

                p {
                    font-size: 15px;
                }

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {

    #player div {
        #div_1 {
            width: 180px;
        }

        #div_audio {
            width: 210px;

            audio {
                width: 180px;
            }
        }

        #div_playlist {
            width: 180px;
        }
    }
}

@media screen and (max-width:600px) {

    #player div {
        #div_1 {
            width: 130px;

            #div_album {
                width: 30px;

                #imagem_album {
                    width: 30px;
                }
            }

            #div_nomes {
                #nome_musica {
                    font-size: 10px;
                }

                #artista {
                    font-size: 8px;
                }
            }
        }

        #div_playlist {
            width: 100px;

            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width:500px) {

    #player div {
        #div_1 {
            width: 110px;

            #div_album {
                width: 25px;

                #imagem_album {
                    width: 25px;
                }
            }
        }

        #div_audio {
            width: 170px;

            audio {
                width: 150px;
            }

            #favorito_vazio {
                width: 15px;
                height: 15px;
            }

            #favorito_preenchido {
                width: 15px;
                height: 15px;
            }
        }

        #div_playlist {
            width: 80px;

            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width:400px) {

    #player div {
        #div_audio {
            width: 150px;

            audio {
                width: 130px;
                height: 20px;
            }
        }

        #div_playlist {
            width: 35px;
            margin-right: 5px;
        }
    }
}