#player {
    background-color: rgb(33, 33, 33);
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 1;

    div {
        width: 100vw;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #div_1 {
            display: flex;
            align-items: center;
            width: 500px;
            margin-left: 50px;

            #div_album {
                width: 60px;
                display: flex;
                align-items: center;

                #imagem_album {
                    width: 60px;
                }
            }

            #div_nomes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;

                #nome_musica {
                    color: white;
                    font-size: 15px;
                    font-weight: 550;
                    word-wrap: break-word;
                }

                #artista {
                    color: white;
                    font-size: 12px;
                    margin-top: 3px;
                    word-wrap: break-word;
                }
            }
        }

        #div_audio {
            width: 1150px;

            div {
                width: 640px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                audio {
                    width: 600px;
                    height: 30px;
                }

                #favorito_vazio {
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    color: rgb(255, 166, 0);
                }

                #favorito_preenchido {
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    color: rgb(255, 166, 0);
                }
            }
        }
    }
}

@media screen and (max-width:1700px) {
    #player div {
        #div_1 {
            width: 400px;
        }

        #div_audio {
            width: 1000px;
        }
    }
}

@media screen and (max-width:1500px) {
    #player div #div_audio {
        width: 900px;

        div {
            width: 540px;

            audio {
                width: 500px;
            }
        }
    }
}

@media screen and (max-width:1350px) {
    #player div #div_audio {
        width: 800px;

        div {
            width: 440px;

            audio {
                width: 400px;
            }
        }
    }
}

@media screen and (max-width:1250px) {
    #player div {
        #div_1 {
            width: 400px;
        }
    }

    #player div #div_audio {
        width: 650px;
    }
}

@media screen and (max-width:900px) {

    #player {
        height: 100px;
        z-index: 0;

        div {
            height: 50px;

            #div_1 {
                width: 220px;
                margin-left: 25px;

                #div_album {
                    width: 40px;

                    #imagem_album {
                        width: 40px;
                    }
                }

                #div_nomes {
                    margin-left: 5px;

                    #nome_musica {
                        font-size: 12px;
                    }

                    #artista {
                        font-size: 10px;
                    }
                }
            }

            #div_audio {
                width: 510px;

                div {
                    width: 350px;

                    audio {
                        width: 320px;
                        height: 25px;
                    }

                    #favorito_vazio {
                        width: 20px;
                        height: 20px;
                    }

                    #favorito_preenchido {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px) {

    #player div #div_audio {
        width: 450px;
    }
}

@media screen and (max-width:650px) {

    #player div #div_audio {
        width: 300px;

        div {
            width: 250px;

            audio {
                width: 220px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width:500px) {

    #player div {
        #div_1 {
            width: 150px;
        }
    }
}

@media screen and (max-width:450px) {

    #player div {
        #div_1 {
            width: 120px;
            margin-left: 10px;

            #div_album {
                width: 30px;

                #imagem_album {
                    width: 30px;
                }
            }

            #div_nomes {
                #nome_musica {
                    font-size: 10px;
                }

                #artista {
                    font-size: 8px;
                }
            }
        }

        #div_audio {
            width: 200px;

            div {
                width: 170px;

                audio {
                    width: 150px;
                    height: 15px;
                }

                #favorito_vazio {
                    width: 15px;
                    height: 15px;
                }

                #favorito_preenchido {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}